@{
    Layout = null;

    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hour";
    var artists = new string[]
    {
        "Script: Dan SLott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edgar Delgado",
        "Letters: Chriss Ellipoulos"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>
        <h5>@Html.Raw(description)</h5>
        @if (@artists.Length > 0)
    {
        <div>
            Artists:
            <ul>

                @foreach (string artist in artists)
            {
                <li>@artist</li>
        }
            </ul>
        </div>
}

    </div>
</body>
</html>
